database:
  development:
    name: stemcoding_dev
    host:
    username:
    password:
  test:
    name: stemcoding_test
    host:
    username:
    password:
  staging:
    name: stemcoding
    host:
    username:
    password:
  production:
    name: stemcoding
    host:
    username:
    password:

redis:
  development:
    url:
    password:
  test:
    url:
    password:
  staging:
    url: 
    password: 
  production:
    url: 
    password: 
  

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <random security hash>

subdomain:
  app:
    development: development
    test: test
    staging: staging
    production: app
  player:
    development: player
    test: player
    staging: player
    production: player